<section id="todos" <%= list_class(list) %>>
  <header>
    <h2><%= list[:name] %></h2>
    <ul>
      <li>
        <form action="/lists/<%= list[:id] %>/todos/complete_all" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li><a class="edit" href="/lists/<%= list[:id] %>/edit">Edit List</a></li>
    </ul>
  </header>
  <ul>
    <% unless list[:todos].empty? %>
      <% sink_todos(list[:todos]).each do |item, id| %>
        <li <%= todo_class(item) %>>
        <form action="/lists/<%= list[:id] %>/todos/<%= id %>/toggle" method="post" class="check">
          <input type="hidden" name="completed" value=<%= !item[:completed] %> />
          <button type="submit">Complete</button>
        </form>
          <h3><%= item[:name] %></h3>
          <form action="/lists/<%= list[:id] %>/todos/<%= id %>/delete" method="post" class="delete">
            <button type="submit"></button>
          </form>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= list[:id] %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="<%= params[:todo] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>